@import '_fonts';
@import '_variables';

body {
	font-size: $font-size-normal;
	font-family: $font-family;
	background-color: $bg-color;
	margin: 0;
	padding: 0;

	a {
		text-decoration: none;
	}
	h4 {
		font-size: $font-size-h4;
		text-transform: uppercase;
	}
	ul {
		list-style: none; 
	}
}

// header section

.head-section {
	display: flex;
	justify-content: space-between;
	max-height: 480px;
}
.logo-block {
	flex: 0 0 16%;
	margin-left: 7%;
	padding: 3.5em 0 0 3em;
	img {
		width: 100%;
		max-width: 156px;
	}
}
.photo-block {
	flex: 0 0 42%;
    
	img {
		width: 100%;
		max-width: 535px;
		margin-left: -1.3em;
	}
}
.menu-block {
	font-family: 'Roboto-Thin';
	color: $font-color;
	background-color: $hover-color;
	font-weight: 200;
	text-transform: uppercase; 
	flex: 0 0 31%;
    .menu-button {
    	width: 2.5em;
    	margin: 2.5em auto 4em auto;
    	padding: 2.15em 1.8em;
    	font-size: 1.34em; 
    	border: 2.5px $font-color solid;

    	a {
    		color: $font-color;
    	}

    	&:hover {
    		border-color: $main-first-color;
    		color: $main-first-color;
    		visibility: hidden;
    		a {
    			color: $font-color-dark;
    		}
    	}
    	&:hover .sub-menu {
    		visibility: visible;
    		transform: translateX(-88%);
    		transition-duration: 0.5s;
    		width: 50%;

    		a {
    			color: $font-color;
    			display: block;
    			padding-top: 1.1em;
    			font-family: $font-family;
    			font-size: .8em;
				&:hover {
					color: $font-color-dark;
				}
    		}
    		.icon-close {
				font-size: 2em;
				padding: 0;
			}
    	}
    }
    .inner {
    	border-top: 1px black solid;
    }
    p {
    	font-size: .78em;
    }
    .address {
    	float: left;
    	margin-top: 1.8em;
	    line-height: 1.2em;
	    margin-left: 13%;
    }
    .number {
   		margin: 18.2em 0 2em 29%;
	}
}
.sub-menu {
	background: $project-color;
	display: flex;
	justify-content: space-around;
	padding: 0;
	visibility: hidden;
	position: absolute;
	height: 112px;
	top: 1.5em;
	width: 1%;

	li {
		text-align: center;
		flex-basis: 14%;
		margin: 1.65em .8%;

		&:hover {
			cursor: pointer;
		}
	}
}

// main page

.masonry-container,
.row-1,
.row-2,
.row-3,
.row {
	display: flex;
	text-transform: uppercase;
}

.part-1 {
	flex-basis: 69%;
}

.part-2 {
	flex-basis: 31%;
	flex-direction: column;
}

// part - 1

.projects {
	font-family: 'Roboto-Light';
	background-color: $project-color;
	max-height: 480px;
	height: 480px;
	width: 45%;

	ul {
		margin: 15em 0 0 14em;
		padding: 0;
		font-size: .8em;
		line-height: 13px;
	}
	a {
		color: $font-color;
		&:hover {
			color: $font-color-dark;
		}
	}
	h4 {
		color: $font-color;
	    font-size: 3em;
	    width: 45%;
	    margin: 1.1em 0 0 45%;
	}
}

.fondue {
	background: url('../images/fondue-pr-2.png') $main-second-color no-repeat;
	background-position: center;
	background-size: contain;
	height: 480px;
	width: 55%;

	.text-block {
		margin: 5.5em 0 0 5.5em;
		width: 50%;

		h4 {
			margin-bottom: .6em;
		}

		.param {
			font-family: 'Roboto-Thin';
			font-size: .75em;
			span {
				font-family: $font-family;
				font-weight: bold;
			}
		}
		.icon-arrow-right {
			margin-top: 3em;
		}
		.like {
			display: block;
			margin: 7em 0 0 4.6em;
		}
	}
}

.louis-xx {
	background: url('../images/louis-pr.png') bottom no-repeat, url('../images/louis-pr-bg.png') center no-repeat;
	background-size:  contain, cover;
	width: 29%;
	height: 446px;

	.text-block {
		color: $main-second-color;
		position: relative;
		left: 10%;
		top: 2%;
		width: 85%;

		h4 {
			margin-bottom: .6em;
		}

		.param {
			font-family: 'Roboto-Thin';
			font-size: .75em;
			span {
				font-family: $font-family;
				font-weight: bold;
			}
		}
		.icon-arrow-right {
			color: $main-second-color;
			margin-top: .7em;

			&:hover {
				color: $project-color;
			}
		}
		.icon-heart-empty {
    		&:before {
    			color: $main-second-color;
    		}
    		&:hover:before {
    			color: $hover-color;
    		}
		}
		.like {
			display: block;
			margin: 1.5em 0 0 4.5em;
		}
	}
}

.project-block {
	background: url(../images/395-396-p22-pr.png) #eaeaea bottom no-repeat;
	background-size: contain;
	width: 71%;

	.icones,
	.param {
		display: inline-block;
	}

	.text-block {
		margin-left: 45%;

		h4 {
			font-family: 'Roboto-Thin';
			margin-bottom: .6em;
			position: relative;
   			top: 3em;
   			width: 40%;
		}
		.param {
			font-family: 'Roboto-Thin';
			font-size: .75em;
			margin-top: 5.4em;
		}
    	.icon-arrow-right {
    		margin-left: 1em;
    	}
    	.like {
			display: block;
			margin: 1.5em 0 0 5em;
		}
	}
}

// part - 2

.potter {
	height: 240px;
	background: url('../images/potter-pr-2.png') #dfe0d9 center no-repeat;
	background-size: contain;

	.text-block {
		position: relative;
		left: 3em;
		top: 2em;
		width: 50%;

		.param {
			font-family: 'Roboto-Thin';
			font-size: .75em;
			text-transform: none;
			margin-bottom: 14px;
			width: 70%;
		}
		h4 {
			margin-top: 0;
			margin-bottom: .6em;
		}
		.like {
			display: block;
			margin: 1em 0 0 3.7em;
		}
	}
}

.tabano {
	background: url('../images/tabano-pr-2.png') #f7f7f3 center no-repeat;
	background-size: contain;
	height: 448px;

	img {
		margin: 2.2em 0 0 6.6em;
    	max-width: 250px;
	}

	.param,
	.icones {
		display: inline-block;
	}
	.text-block {
		font-size: 12px;
		display: inline-block;
		margin: 27em 0 0 0;

		h4 {
    		margin: 0 0 0 3em;
		}
		.param {
			font-size: $font-param;
			margin-left: 5.7em;
		}
		.icones {
			position: relative;
		    top: -1.4em;
		    left: .8em;
		}
		.icon-arrow-right {
			position: relative;
			top: -1em;
		}
	}
}

.fiji {
	background: url('../images/fiji-pr-2.png') $main-second-color center no-repeat;
	background-size: contain;
	height: 238px;

	.text-block {
		display: inline-block;
		margin: 3em 0 0 53%;

		h4 {
			margin: 0;
		}
		.param {
			font-size: $font-param;
			margin-bottom: 2em;
		}
		.like {
			display: block;
			margin: 1em 0 0 4.5em;
		}
	}
}

.timeline {
	background-color: $project-color;
	height: 288px;
	width: 31%;

	h4 {
		margin: 0;
		font-size: 1.2em;
	}
	a {
		color: $font-color;
		&:hover,
		&:hover:before {
			color: $font-color;
		}
	}
	ul {
		margin-top: 2px;
		padding-left: 0;
	}
	.text-block {
		font-size: 11px;
		position: relative;
	    top: 5em;
	    left: 8.5em;
	    width: 20%;
	}

}

// row-3

.sesann {
	background: url('../images/sesann-pr.png') #fcfcfc center no-repeat;
	background-size: contain;
	width: 71%;
	height: 288px;

	img {
		width: 64%;
	    max-width: 735px;
	    margin-left: auto;
	    margin-right: auto;
	    position: relative;
	    top: 2em;
	    left: 9em;
	}
	.param,
	.icones {
		display: inline-block;
	}
	.text-block {
		margin: 13em 0 0 21%;

		h4 {
			position: relative;
		    top: 9px;
		    margin-bottom: 5px;
		}
		.param {
			font-size: $font-param;
		}
		.icones {
			margin-left: 2.5em;
		    position: relative;
		    top: -1.5em;
		}
		.icon-arrow-right {
			position: relative;
			top: -1em;
		}
		.like {
			margin-left: 1.8em;
		}
	}
}

.alessi {
	background: url('../images/alessi-pr.png') #cecece no-repeat;
	background-size: contain;
	width: 29%;
	height: 288px;

	h4 {
		margin-bottom: 0; 
	}

	.text-block {
		margin: 5em 0 0 52%;
	}
	.param {
		font-size: $font-param;
	}
	.icon-arrow-right {
		position: relative;
	    left: -2em;
	    font-size: 15px;
	    top: 1em;
	}
	.like {
		display: block;
		margin: 2.2em 0 0 2em;
	}
}

.half-1 {
	display: flex;
	width: 69%;
}

.timeline {
	width: 31%;
}

// about-section 

.studio {
	background-color: #ff9966;
	flex-basis: 31%;
	height: 480px;

	h4 {
		color: $font-color;
		font-size: 2.9em;
		text-transform: uppercase;
		margin: 6.7em 0 0 5em;
	}
}
.about-studio {
	flex-basis: 69%;
	display: flex;
	font-family: $font-family-condensed-light;

	.content-1 {
		text-transform: none;
		width: 45%;
		span {
			font-family: $font-family-condensed;
			font-style: italic;
		}
	}
	.content-2 {
		width: 55%;
		text-transform: uppercase;

		img {
			max-width: 345px;
		    padding-top: 6.6em;
		    padding-left: 7%;
		}
		h4 {
			font-family: $font-family-bold;
			font-size: .9em;
			margin-bottom: 7px;
		}
		.column {
			display: flex;
			justify-content: space-between;

			p {
				flex-basis: 45%;
				margin-top: 0;
			}
		}
	}
	.text-block-1 {
		width: 75%;
	    margin: 5.8em auto 0 7.5em;
	    font-size: 15px;
	    line-height: 1.2em;

	    .second-part {
	    	margin-top: 2em;
	    }
	}
	.text-block-2 {
		width: 62%;
    	padding-left: 3em;
    	margin-top: 2.5em;
	}
}

.description {
	flex-basis: 31%;
	font-family: $font-family-condensed-light;
	font-weight: 700;

	h4 {
		font-size: 1em;
		margin-bottom: 1em;
	}
	.text-block {
		text-transform: none;
		margin: 13% 1.5em 0 36%;
		line-height: 1.3em;
	}
}
.designers {
	flex-basis: 69%;
	display: flex;
	margin: 4.3em 0 6.3em 0;


	img {
		max-width: 260px;
	}
	.two,
	.three {
		margin-left: 2em;
	}
	.text-block {
		text-transform: uppercase;
		font-size: .8em;
		line-height: 12px;

		span {
			font-family: $font-family-bold;
		}
	}
	.cv-block,
	.icon-container {
		display: inline-block;
	}
	.icon-container {
		width: 80%;
		ul {
			font-size: 1em;
			margin-top: 0;
			width: 50%;
    		padding-left: 10.7em;

			a {
				color: $main-third-color;
				&:hover {
					color: $hover-color;
				}
			}
			li {
				flex-basis: 25%;
			}
		}
	}
	.cv-block {
		margin-top: .5em;
		a {
			color: $main-third-color;
			font-family: $font-family-condensed-light;
			font-size: 1.2em;

			&:hover {
				color: $main-first-color;
			}
		}
		.icon-arrow-left:before {
			color: $main-third-color;
		}
	}
}

.news-section {
	background-color: #ccffcc;
	height: 480px;
	flex-basis: 31%;

	h4 {
		color: $font-color;
		font-size: 2.9em;
		text-transform: uppercase;
		margin: 6.7em 0 0 5em;
	}
}
.post-section {
	background-color: #e5e9df;
	flex-basis: 69%;
	display: flex;

	img {
		max-width: 356px;
		width: 100%;
	}

	.post-1,
	.post-2 {
		flex-basis: 45%;
		max-width: 356px;

		h4 {
			margin: 3.6em 0 0 0;
			font-family: $font-family-bold;
			height: 52px;
			overflow: hidden;
		}
		a {
			display: block;
			text-transform: uppercase;
			color: $main-third-color;
			font-size: .9em;
			width: 20%;
			float: right;

			&:hover {
				color: $hover-color;
			}
		}
		.date {
			font-size: .7em;
			margin: 0 0 1.7em 0;
		}
		.text-block {
			font-size: .8em;
			height: 60px;
			overflow: hidden;
		}
	}
	.post-1 {
		margin-left: 7em;
	}
	.post-2 {
		margin: 0 1em 0 2em;
	}
}
.maps-section {
	width: 50%;
	background: url('../images/maps-ft.png') no-repeat;
	background-size: cover;

	img {
		width: 100%;
	}
}
.content-section {
	width: 50%;

	.menu-text {
		background-color: inherit;
		color: $font-color-dark;
		max-width: 45%;
		flex: 0 0 45%;
		font-family: $font-family-condensed;
		font-size: 15px;

		.text-block {
			margin: 9.5em 0 0 7.5em;
		}
	}
	.logo-block {
		flex: 0 0 45%;
		max-width: 45%;
		padding: 10.2em 0 0 1em;

		.social {
			li {
				flex-basis: 11%;
			}
		}
	}
	.copyright {
		font-size: .8em;
		margin: 5em 0 5em 11em;
	}
}

// other 

.arrow-right:hover {
	color: $font-color-dark;

	&:before {
		content: '\e831';
		font-family: "zocial";
		margin-right: .2em;
	}
}

.icon-arrow-right,
.icon-arrow-left {
	display: inline-block;
	font-size: 1.2em;
	color: $main-first-color;
	&:before {
		margin-right: .5em;
		color: $project-color;
	}
	&:hover {
		color: $project-color;
	}
}
.like {
	display: inline-block;
	margin-left: 5px;
	width: 2.5em;

	p {
		font-size: .8em;
		color: $main-third-color;
		margin: 0;
	}
	.icon-heart-empty {
		font-size: 1.7em;
    	color: $main-first-color;

    	&:hover {
    		color: $hover-color;
    	}
	}
}
.param {
	span {
		font-family: $font-family;
		font-weight: 700;
	}
}
.social {
	display: flex;
    padding-left: .5em;
    font-size: 1.4em;
    margin-top: 2.6em;
	li {
		flex-basis: 14%;
	}
	a {
		color: $hover-color;
		&:hover {
			color: $main-first-color;
		}
	}
}

// responsive 

@media (max-width: map-get($breakpoints, xl)) {
	.logo-block {
		padding-left: 2em;
	}
	.menu-block {
		.menu-button {
			padding: 1.5em 1em;
		}
		.address {
			margin-left: 50%;
		}
		.sub-menu {
			height: 88px;

			li {
				margin: 1em auto;
			}
		}
	}
	.part-1 {
		flex-basis: 55%;
	}
	.part-2 {
		flex-basis: 45%;
	}
	.row-1,
	.row-2 {
		flex-direction: column;
	}
	.projects,
	.fondue,
	.louis-xx,
	.project-block {
		width: 100%;
	}
	.tabano {
		height: 750px;

		.text-block {
			font-size: 14px;
			margin-top: 37em;
		}
	}
	.louis-xx {
		height: 300px;
	}
	.project-block {
		height: 440px;
	}
	.potter {
		height: 480px;
		.text-block {
			top: 12em;
		}
	}
	.fiji {
		height: 470px;
		.text-block {
			margin-top: 10em;
		}
	}
	.row-3 {
		flex-direction: column;

		.half-1,
		.timeline {
			width: 100%;
		}
		.timeline {
			.text-block {
				font-size: 16px;
				margin: 0 auto;
				left: 0;
				width: 8%;
			}
		}
	}

	// about section

	.studio {
		height: 250px;
		h4 {
			margin: 2.5em auto;
			width: 15%;
		}
	}
	.about-studio {
		flex-direction: column;
		.content-1,
		.content-2 {
			width: 100%;
		}
		.content-2 {
			img {
				display: block;
				margin: 0 auto;
				padding: 0;
			}
		}
		.text-block-1,
		.text-block-2 {
			margin: 3em auto;
			padding: 0;
			width: 85%;
		}
		.text-block-2 {
			h4 {
				text-align: center;
			}
		}
	}
	.description {
		width: 100%;
		.text-block {
			margin: 2em auto;
			width: 85%;
		}
	}
	.designers {
		justify-content: space-around;

		.two,
		.three {
			margin-left: 0;
		}
	}
	.news-section {
		height: 300px;
		h4 {
			margin: 3em auto;
			width: 20%;
		}
	}
	.post-section {
		justify-content: space-around;
		padding-bottom: 2em;
	}

	// footer 

	.maps-section {
		background-position: center;
		height: 400px;
		width: 100%;
	}
	.content-section {
		width: 100%;

		.menu-block {
			font-size: 16px;
		}
		.copyright {
			margin: 1em auto;
			text-align: center;
		}
		.logo-block {
			padding-left: 0;
		}
	}

}
@media (max-width: map-get($breakpoints, lg)) {
	.photo-block {
		flex-basis: 36%;

		img {
			margin-top: 2em;
		}
	}
	.logo-block {
		padding-left: 0;
	}
	.menu-block {
		.menu-button {
			font-size: 1.1em;

		}
		.address {
			margin-top: 3.8em;
		}
		.sub-menu {
			height: 74px;
		}
	}
	.tabano {
		.text-block {
			margin-left: 0;
			width: 100%;
			h4 {
				margin: 0 auto;
				width: 25%;
			}
			.param {
				display: block;
				margin: 1.5em auto;
				width: 40%;
			}
			.icones {
				display: block;
				margin: 2em auto;
				width: 60%;
			}
		}
	}
	.project-block {
		.text-block {
			h4 {
				width: 100%;
			}
			.like {
				margin-top: .5em;
			}
		}
	}
	.sesann {
		width: 65%;
		.text-block {
			margin-left: 15%;
		}
	}
	.alessi {
		width: 35%;
	}

	// about section 

	.designers {
		flex-direction: column;
		.one,
		.two,
		.three {
			margin: 1em auto;
			width: 31%;
		}
	}
	.post-section {
		flex-direction: column;
		.post-1,
		.post-2 {
			margin: 0 auto;
			width: 90%;
		}
	}
}

@media (min-width: 769px) and (max-width: 900px) {
	.potter {
		.text-block {
			width: 45%;
			.like {
				margin-top: 0;
			}
		}
		.icones {
			font-size: 12px;
		}
	}
}

@media (max-width: map-get($breakpoints, md)) {
	.menu-block {
		.menu-button:hover {
			.sub-menu {
				transform: translateX(-72%);
				width: 100%;
			}
		}
	}
	.masonry-container {
		flex-direction: column;
	}
	.photo-block {
		display: none;
	}
	.logo-block {
		margin-left: 9%;
		margin-right: 9%;
		flex-basis: 21%;
	}
	.menu-block {
		flex-basis: 50%;
	}
	.projects {
		font-size: 16px;
		height: 350px;

		ul {
			margin: 5em 0 0 44%;
		}
		h4 {

			margin: 2.1em 0 0 33%;
		}
	}
	.fondue {
		height: 300px;
		.text-block {
			margin-top: 3.5em;
			.icon-arrow-right,
			.like {
				margin-top: 1em;
			}
		}
	}
	.project-block {
		.icones {
			margin-top: 1em;
		}
		.like {
			margin-top: .5em;
		} 
	}
	.potter {
		background-size: auto;
		height: 240px;
		.text-block {
			top: 2em;
		}
	}
	.tabano {
		background-size: auto;
		background-position: top;
		height: 550px;
		.text-block {
			margin-top: 25em;
		}
	}
	.fiji {
		height: 275px;
		.text-block {
			margin-top: 4em;
		}
	}
	.half-1 {
		flex-direction: column;
	}
	.sesann {
		width: 100%;
	}
	.alessi {
		width: 100%;
	}

	//about section 

	.designers {
		.one,
		.two,
		.three {
			width: 39%;
		}
	}
}

@media (min-width: map-get($breakpoints, sm)) and (max-width: map-get($breakpoints, md)) {
	.tabano {
		.text-block {
			h4 {
				width: 20%;
			}
			.param {
				width: 30%;
			}
			.icones {
				width: 35%;
			}
		}
	}
	.alessi {
		.text-block {
			margin-left: 35%;
			.param,
			.icones {
				display: inline-block;
			}
			.param {
				position: relative;
				top: -4em;
			}
			.icones {
				margin-left: 4em;
			}
		}
	}
	.sesann {
		.text-block {
			margin-left: 21%;
		}
	}
}

@media (max-width: map-get($breakpoints, sm)) {
	// .menu-block {
	// 	.menu-button {
	// 		font-size: 1.1em;
	// 	}
	// }
	.projects {
		h4 {
			margin-left: 27%;
		}
	}
	.fondue {
		.text-block {
			margin-left: 3.5em;
		}
	}
	.tabano {
		.text-block {
			.icones {
				width: 45%;
			}
		}
	}
	.sesann {
		height: 340px;
		background-position: top;
		.text-block {
			margin-top: 11em;
			h4 {
				margin: 0 auto; 
				width: 35%;
			}
			.param,
			.icones {
				display: block;
				margin: 2.5em auto;
				width: 60%;
			}
		}
	}

	// about section 
	
	.designers {
		.one,
		.two,
		.three {
			width: 46%;
		}
	}

	// footer 

	.content-section {
		.menu-block {
			.text-block {
				margin-left: 2.5em;
			}
		}
	}
}
@media (max-width: map-get($breakpoints, xs)) {
	.projects {
		h4 {
			margin-left: auto;
			margin-right: auto;
			width: 60%;
		}
	}
	.fondue {
		.text-block {
			margin-left: .5em;
		}
	}
	.potter {
		background-size: contain;
		.text-block {
			left: 1em;
			.icones {
				.like {
					margin-top: .5em;
				}
			}
		}	
	}
	.louis-xx {
		.like {
			margin-top: .5em;
			font-size: 12px;
		}
	}
	.sesann {
		.text-block {
			margin-top: 8em;
			.like {
				display: block;
				margin-left: 4.8em;
			}
			.icon-arrow-right {
				top: 0;
			}
		}
	}

// about section 

	.designers {
		.one,
		.two,
		.three {
			width: 85%;
		}
	}
}









