@import '_fonts';
@import '_variables';

body {
	font-size: $font-size-normal;
	font-family: $font-family;
	background-color: $bg-color;
	margin: 0;
	padding: 0;

	a {
		text-decoration: none;
	}
	h4 {
		font-size: $font-size-h4;
		text-transform: uppercase;
	}
	ul {
		list-style: none; 
	}
}

// header section

.head-section {
	display: flex;
	justify-content: space-between;
	max-height: 480px;
}
.logo-block {
	flex: 0 0 16.66667%;
    max-width: 16.66667%;
	margin-left: 8.333%;
	padding: 3.5em 0 0 3em;
	img {
		width: 100%;
		max-width: 156px;
	}
}
.photo-block {
	flex: 0 0 41%;
    max-width: 41%;
    
	img {
		width: 100%;
		max-width: 535px;
		margin-left: -1.3em;
	}
}
.menu-block {
	font-family: 'Roboto-Thin';
	color: $font-color;
	background-color: $hover-color;
	font-weight: 200;
	text-transform: uppercase; 
	flex: 0 0 31%;
    max-width: 31%;
    .menu-button {
    	width: 11%;
    	margin: 2.5em auto 4em auto;
    	padding: 2.15em 1.8em;
    	font-size: 1.34em; 
    	border: 2.5px $font-color solid;

    	&:hover {
    		border-color: $main-first-color;
    		color: $main-first-color;
    		cursor: pointer;
    		a {
    			color: $main-first-color;
    		}
    	}
    	a {
    		color: $font-color;
    	}
    }
    p {
    	font-size: .78em;
    }
    .address {
    	float: left;
    	margin-top: 1.8em;
	    line-height: 1.2em;
	    margin-left: 5.2em;
    }
    .number {
    	margin-top: 18.2em;
   		margin-left: 12em;
	}
    .line {
		// TODO!!
    }
}

// main page

.masonry-container {
	display: flex;
	text-transform: uppercase;
}

.row-1,
.row-2,
.row-3 {
	display: flex;
}

.part-1 {
	flex-basis: 69%;
}

.part-2 {
	flex-basis: 31%;
	flex-direction: column;
}

// part - 1

.projects {
	font-family: 'Roboto-Light';
	background-color: $project-color;
	max-height: 480px;
	height: 480px;
	width: 45%;

	ul {
		position: relative;
		padding: 0;
		margin-top: 0;
		top: 35%;
		left: 35%;
		font-size: .8em;
		line-height: 13px;
	}
	a {
		color: $font-color;
		&:hover {
			color: $font-color-dark;
		}
	}
	h4 {
		color: $font-color;
		position: relative;
	    top: 33%;
	    font-size: 3em;
	    left: 46%;
	    width: 45%;
	}
}

.fondue {
	background-color: $main-second-color;
	height: 480px;
	width: 55%;

	img {
		max-width: 397px;
		position: relative;
		left: 8.3em;
		max-height: 100%;
	}

	.text-block {
		position: relative;
		width: 30%;
		left: 18%;
		top: 11%;
		float: left;
		clear: both;

		h4 {
			margin-bottom: .6em;
		}

		.param {
			font-family: 'Roboto-Thin';
			font-size: .75em;
			span {
				font-family: $font-family;
				font-weight: bold;
			}
		}
		.icon-arrow-right {
			margin-top: 2em;
		}
		.icon-heart-empty {
			margin-top: 4.1em;
			margin-left: 2.5em;
		}
	}
}

.louis-xx {
	background: url('../images/louisbg-pr.png') no-repeat;
	background-position: center;
	background-size: cover;
	width: 29%;
	height: 446px;

	.text-block {
		color: $main-second-color;
		position: relative;
		left: 10%;
		top: 2%;

		h4 {
			margin-bottom: .6em;
		}

		.param {
			font-family: 'Roboto-Thin';
			font-size: .75em;
			span {
				font-family: $font-family;
				font-weight: bold;
			}
		}
		.icon-arrow-right {
			color: $main-second-color;
			margin-top: .7em;

			&:hover {
				color: $project-color;
			}
		}
		.icon-heart-empty {
			display: block;
			margin-left: 2.6em;
    		margin-top: .9em;

    		&:before {
    			color: $main-second-color;
    		}
    		&:hover:before {
    			color: $hover-color;
    		}
		}
		.like {
			width: 65%;
		}
	}
}

.project-block {
	background: url(../images/395-396-p22-pr.png) no-repeat;
	background-size: cover;
	width: 71%;

	.icones,
	.param {
		display: inline-block;
	}

	.like {
		margin-left: 1.3em;
	}

	.text-block {
		padding-left: 49%;

		h4 {
			font-family: 'Roboto-Thin';
			margin-bottom: .6em;
			position: relative;
   			top: 3em;
   			width: 40%;
		}
		.param {
			font-family: 'Roboto-Thin';
			font-size: .75em;
			margin-top: 5.4em;
		}
		.icon-heart-empty {
			display: block;
			margin-left: 3em;
   			margin-top: .6em;
    	}
    	.icon-arrow-right {
    		margin-left: 1em;
    	}
	}
}

.sesann {
	width: 71%;
	background-color: $main-second-color;
	height: 288px;

	img {
		width: 64%;
	    max-width: 735px;
	    margin-left: auto;
	    margin-right: auto;
	    position: relative;
	    top: 2em;
	    left: 9em;
	}
	.param,
	.icones {
		display: inline-block;
	}
	.text-block {
		margin-left: 10.5em;
		margin-top: 0;

		h4 {
			position: relative;
		    top: 9px;
		    margin-bottom: 5px;
		}
		.param {
			font-size: $font-param;
		}
		.icones {
			margin-left: 2.5em;
		    position: relative;
		    top: -1.5em;
		}
		.icon-heart-empty {
			margin: 1em 0 0 1em;
		}
		.like {
			margin-left: 17em;
		}
	}
}

.alessi {
	background: url('../images/alessi-pr.png') no-repeat;
	background-size: cover;
	width: 29%;
	height: 288px;

	h4 {
		margin-bottom: 0; 
	}

	.text-block {
		position: relative;
	    top: 16%;
	    left: 53%;
	    width: 47%;
	}
	.param {
		font-size: $font-param;
	}
	.like {
		display: block;
		text-align: right;
		margin-left: 2.6em;
		width: 20%;
	}
	.icon-arrow-right {
		position: relative;
	    left: -2em;
	    font-size: 15px;
	    top: 1em;
	}
	.icon-heart-empty {
		display: block;
		margin: 1.3em 0 0 1.1em;
		width: 1px;
	}
}

// part - 2

.potter {
	background-color: #dfe0d9;
	height: 240px;

	img {
		float: right;
		max-width: 292px;
		max-height: 100%;
		width: 66%;
		clear: both;
	}

	.text-block {
		position: relative;
		left: 3em;
		top: 2em;
		width: 50%;

		.param {
			font-family: 'Roboto-Thin';
			font-size: .75em;
			text-transform: none;
		}
		h4 {
			margin-top: 0;
			margin-bottom: .6em;
		}
		.icon-heart-empty {
			margin-left: 2.23em;
			margin-top: .3em;
		}
	}
}

.tabano {
	background-color: #f7f7f3;
	height: 448px;

	img {
		margin: 2.2em 0 0 6.6em;
    	max-width: 250px;
	}

	.param,
	.icones {
		display: inline-block;
	}
	.text-block {

		h4 {
    		margin: .4em 0 0 3em;
		}
		.param {
			font-size: $font-param;
			margin-left: 5.7em;
		}
		.icones {
			position: relative;
		    top: -1.4em;
		    left: .8em;
		}
		.like {
			margin-left: 14.7em;
		}
	}
}

.fiji {
	background-color: $main-second-color;
	height: 238px;

	img {
		float: left;
		clear: both;
		position: relative;
	    top: 1em;
	    left: -1.6em;
	    max-width: 278px;
	}
	.text-block {
		position: relative;
		top: 3em;
    	left: -3em;

		h4 {
			margin: 0;
		}
		.param {
			font-size: $font-param;
			margin-bottom: 2em;
		}
		.icon-heart-empty {
			margin: .5em 0 0 2.7em;
		}
		.like {
			position: relative;
			left: -7px;
		}
	}
}

.timeline {
	background-color: $project-color;
	height: 288px;

	h4 {
		margin: 0;
		font-size: 1.2em;
	}
	a {
		color: $font-color;
		&:hover,
		&:hover:before {
			color: $font-color;
		}
	}
	ul {
		margin-top: 2px;
		padding-left: 0;
	}
	.text-block {
		font-size: 11px;
		position: relative;
	    top: 5em;
	    left: 8.5em;
	    width: 20%;
	}

}

// about-section 

.studio {
	background-color: #ff9966;
	flex-basis: 31%;
	height: 480px;

	h4 {
		color: $font-color;
		font-size: 2.9em;
		text-transform: uppercase;
		margin: 6.7em 0 0 5em;
	}
}
.about-studio {
	flex-basis: 69%;
	display: flex;
	font-family: $font-family-condensed-light;

	.content-1 {
		width: 45%;
		span {
			font-family: $font-family-condensed;
			font-style: italic;
		}
	}
	.content-2 {
		width: 55%;
		text-transform: uppercase;

		img {
			max-width: 345px;
		    padding-top: 6.6em;
		    padding-left: 7%;
		}
		h4 {
			font-family: $font-family-bold;
			font-size: .9em;
			margin-bottom: 7px;
		}
		.column {
			display: flex;
			justify-content: space-between;

			p {
				flex-basis: 45%;
				margin-top: 0;
			}
		}
	}
	.text-block-1 {
		width: 75%;
	    margin: 5.8em auto 0 7.5em;
	    font-size: 15px;
	    line-height: 1.2em;

	    .second-part {
	    	margin-top: 2em;
	    }
	}
	.text-block-2 {
		width: 62%;
    	padding-left: 3em;
    	margin-top: 2.5em;
	}
}

.description {
	flex-basis: 31%;
	font-family: $font-family-condensed-light;
	font-weight: 700;

	h4 {
		font-size: 1em;
		margin-bottom: 1em;
	}
	.text-block {
		margin: 13% 1.5em 0 36%;
		line-height: 1.3em;
	}
}
.designers {
	flex-basis: 69%; // !!!todo
	display: flex;
	margin: 4.3em 0 6.3em 0;


	img {
		max-width: 260px;
	}
	.two,
	.three {
		margin-left: 2em;
	}
	.text-block {
		text-transform: uppercase;
		font-size: .8em;
		line-height: 12px;

		span {
			font-family: $font-family-bold;
		}
	}
	.cv-block,
	.icon-container {
		display: inline-block;
	}
	.icon-container {
		width: 80%;
		ul {
			font-size: 1em;
			margin-top: 0;
			width: 50%;
    		padding-left: 10.7em;

			a {
				color: $main-third-color;
				&:hover {
					color: $hover-color;
				}
			}
			li {
				flex-basis: 25%;
			}
		}
	}
	.cv-block {
		margin-top: .5em;
		a {
			color: $main-third-color;
			font-family: $font-family-condensed-light;
			font-size: 1.2em;

			&:hover {
				color: $main-first-color;
			}
		}
		.icon-arrow-left:before {
			color: $main-third-color;
		}
	}
}

.news-section {
	background-color: #ccffcc;
	height: 480px;
	flex-basis: 31%;

	h4 {
		color: $font-color;
		font-size: 2.9em;
		text-transform: uppercase;
		margin: 6.7em 0 0 5em;
	}
}
.post-section {
	background-color: #e5e9df;
	flex-basis: 69%;
	display: flex;

	img {
		max-width: 356px;
		width: 100%;
	}

	.post-1,
	.post-2 {
		flex-basis: 45%;
		max-width: 356px;

		h4 {
			margin: 3.6em 0 0 0;
			font-family: $font-family-bold;
			height: 52px;
			overflow: hidden;
		}
		a {
			display: block;
			text-transform: uppercase;
			color: $main-third-color;
			font-size: .9em;
			width: 20%;
			float: right;

			&:hover {
				color: $hover-color;
			}
		}
		.date {
			font-size: .7em;
			margin: 0 0 1.7em 0;
		}
		.text-block {
			font-size: .8em;
			height: 60px;
			overflow: hidden;
		}
	}
	.post-1 {
		margin-left: 7em;
	}
	.post-2 {
		margin: 0 1em 0 2em;
	}
}
.maps-section {
	width: 50%;
	background: url('../images/maps-ft.png') no-repeat;
	background-size: cover;

	img {
		width: 100%;
	}
}
.content-section {
	width: 50%;

	.menu-block {
		background-color: inherit;
		color: $font-color-dark;
		max-width: 45%;
		flex: 0 0 45%;
		font-family: $font-family-condensed;
		font-size: 15px;

		.address {
			float: none;
			margin: 44% 0 0 10em;

		}
		.number {
			margin: 1em 0 0 10em;
		}
	}
	.logo-block {
		flex: 0 0 45%;
		max-width: 45%;
		padding: 20% 0 0 1em;

		.social {
			li {
				flex-basis: 11%;
			}
		}
	}
	.copyright {
		font-size: .8em;
		margin: 5em 0 5em 11em;
	}
}

// other 

.arrow-right:hover {
	color: $font-color-dark;

	&:before {
		content: '\e831';
		font-family: "zocial";
		margin-right: .2em;
	}
}

.icon-arrow-right,
.icon-arrow-left {
	display: inline-block;
	font-size: 1.2em;
	color: $main-first-color;
	&:before {
		margin-right: .5em;
		color: $project-color;
	}
	&:hover {
		color: $project-color;
	}
}
.icon-heart-empty {
	display: inline-block;
	font-size: 1.7em;
    color: $main-first-color;

    &:hover {
    	color: $hover-color;
    }
}
.like {
	text-align: center;
	font-size: .7em;
	margin-top: 1px;
	margin-left: -1.7em;
	color: $main-third-color;
}
.param {
	span {
		font-family: $font-family;
		font-weight: 700;
	}
}
.social {
	display: flex;
    padding-left: .5em;
    font-size: 1.4em;
    margin-top: 2.6em;
	li {
		flex-basis: 14%;
	}
	a {
		color: $hover-color;
		&:hover {
			color: $main-first-color;
		}
	}
}












